EXPO_PUBLIC_API_URL=https://joinapp.onrender.com
EXPO_PUBLIC_APP_URL=
EXPO_PUBLIC_EAS_PROJECT_ID=
EXPO_IOS_BUNDLE_IDENTIFIER=
EXPO_ANDROID_PACKAGE=
EXPO_PUBLIC_MAPTILER_API_KEY=your_public_maptiler_key
EXPO_PUBLIC_MAPTILER_MAP_STYLE=streets-v4-dark
PRIVACY_POLICY_URL=
TERMS_URL=
COMMUNITY_GUIDELINES_URL=
SUPPORT_URL=
DELETE_ACCOUNT_URL=
